doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel='stylesheet' href='./css/home.css')
  body 
    include ./navbar.pug
    .container 
      h1 Welcome To our Gym
      p
        |At Our Gym, we are dedicated to helping you achieve your fitness goals. Our facility is equipped with the latest fitness equipment and features a variety of classes to suit all fitness levels. Whether you're here to build strength, increase endurance, or simply stay healthy, we have everything you need.
      button Get More Information