
nav{
    display: flex;
   gap: 60em;
    align-items: center;
    height: 50px;
    padding: 30px;
    padding-left: 200px;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: large;
}
img{
    width: 100px;
   
}
.links{
    display: flex;
    gap: 40px;

}
